body {
    color: black;
    background-image: url("https://media.tenor.co/images/3ccff8c4b2443d93811eac9b2fd56f11/raw");
    font-size : 20px;
    background-size: cover;
    background-repeat: no-repeat;
}
.input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
