body {
    color: black;
    background-color: navajowhite;
    font-size : 20px;
    background-size: 100%;
    background-repeat: no-repeat;
}
.input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}




